[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
mlflow = "*"
optuna = "*"
imblearn = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
prefect = "==2.0b5"
xgboost = "*"
prefect-ray = "*"

[dev-packages]

[requires]
python_version = "3.9"
